/* Default styles for mobile devices and above */
.popular-section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 1.7rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1.7rem;
    font-weight: bold;
  }

  .slider-container {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .popular-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .popular-section {
    .popular-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .popular-section {
    .popular-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
