@import '../../../scss/variables';

.faq_section {
  padding-bottom: 3rem;
  background-color: $gray_bg;

  h1 {
    margin-top: 1.7rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1.7rem;
    font-weight: bold;
  }

  .faq {
    width: 100%;
  }

  .accordion_wrapper {
    border: 1px solid rgba(190, 190, 190, 0.7);
    border-radius: 0.3rem;
    background: white;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }

  .accordion_wrapper .question-container {
    width: 100%;
    text-align: left;
    padding: 10px 10px 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;
    font-style: normal;
    font-size: 0.9rem;
    background: transparent;
    border: none;

    cursor: pointer;
  }

  .question-container.active {
    color: $yellow;
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.04),
      transparent
    );
  }

  .accordion_wrapper .question-container:hover {
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.04),
      transparent
    );
  }

  .accordion_wrapper .arrow {
    font-size: 2rem;
    transition: 0.3s ease-out;
  }

  .arrow.active {
    rotate: 180deg;
    color: $yellow;
  }

  .accordion_wrapper .answer-container {
    padding: 0 1rem;
    transition: height 0.3s ease-out;
  }

  .accordion_wrapper .answer-content {
    padding: 0.5rem 0;
    font-size: 1rem;
    // font-style: italic;
    color: rgb(78, 78, 78);
  }
}
