@import '../../../scss/variables';

/* Default styles for mobile devices and above */
.social-container {
  width: 100%;
  margin: auto;
  margin: 3rem auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 1rem;

  .left {
    height: fit-content;
    display: flex;
    flex-direction: column;

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;

      .contact-box {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .icon {
          color: $yellow;
        }

        a {
          font-style: normal;
          font-weight: lighter;
          color: $footer_gray;
        }
      }
    }

    .mail-box {
      width: 100%;
      display: flex;
      align-items: center;
      height: fit-content;
      background-color: white;
      border-radius: 0.5rem;
      padding: 0;
      margin-top: 0.6rem;

      input {
        width: 13rem;
        height: 100%;
        outline-width: 2px;
        border-color: rgb(107 114 128 / 0.2);
        background-color: transparent;
        border: none;
        height: 2rem;
        padding: 0.8rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &:focus {
          outline-color: $yellow;
        }
      }

      .mail-btn {
        height: 110%;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;

        img {
          color: $yellow;
          scale: 1.5;
          transition: all 0.2s ease-out;
        }

        &:hover {
          img {
            scale: 1.7;
          }
        }
      }
    }
  }

  .social-media {
    .title {
      font-weight: bolder;
      font-style: normal;
      text-align: center;
      margin-bottom: 0.4rem;
    }

    .icons {
      display: flex;
      column-gap: 0.3rem;

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: square;
        width: 1.9rem;
        height: 1.9rem;
        background-color: $yellow;
        border-radius: 100%;

        .icon {
          scale: 1.2;
        }
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .social-container {
    flex-direction: row;
    width: 70%;

    .left {
      display: flex;
      flex-direction: column;
      row-gap: 0.3rem;

      .contact {
        align-items: start;
      }
    }
  }

  .social-media {
    .title {
      text-align: left !important;
    }
  }
}
