/* Default styles for mobile devices and above */
.features_section {
  height: auto;
  padding-bottom: 3rem;
  padding-top: 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .description {
    p {
      text-align: center;
      font-weight: 500;
    }
  }

  .feature_card_container {
    margin: 1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #f6f6f6;
    padding: 1rem;
    gap: 1.2rem;
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .features_section {
    .feature_card_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .features_section {
    .feature_card_container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
