@import '../../../scss/variables';

/* Default styles for mobile devices and above */
.feature-container {
  flex: 1;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    li {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;

      .check-icon {
        color: $yellow;
        margin-bottom: auto;
      }
    }
  }
}






/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}