@import '../../../scss/variables';

.car-section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  background-color: $gray_bg;

  h1 {
    text-align: center;
    color: rgb(73, 73, 73);
  }

  .sub-card-container {
    max-width: 100%;
    padding-top: 0.6rem;
    padding: 0.6rem 0.2rem;
    border-radius: 0.6rem;

    .slider-container {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
    }
  }
}
