@import '../../../../scss/variables';

/* Default styles for mobile devices and above */
.filters-btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 8rem;
  height: 2.5rem;
  color: black;
  background-color: $yellow;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
  transition: opacity 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;



  &.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  &:hover {
    transform: translateX(-50%) scale(1.05);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateX(-50%) scale(0.95);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  }
}


@keyframes shimmer {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}


/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1200px) {}