@import '../../../scss/variables';

/* Default styles for mobile devices and above */
.footer-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  .footer-section {
    .heading {
      position: relative;
      margin-bottom: 0.8rem;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        bottom: -0.2rem;
        left: 0;
        width: 2rem;
        height: 0.16rem;
        background-color: $yellow;
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      row-gap: 0.15rem;
      font-size: normal;
      font-weight: lighter;
      color: $footer_gray;

      .link-wrapper {
        display: flex;
        width: fit-content;
        &:hover {
          color: white;
        }

        column-gap: 0.2rem;
        .link {
          cursor: pointer;
          width: fit-content;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
