@import '../../scss/variables';

.sidebar {
  @media (min-width: 1024px) {
    display: none;
  }

  position: fixed;
  top: 0;
  width: 270px;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  z-index: 101;
  padding: 1.3rem 0.6rem;

  &.open {
    left: 0;
  }

  &.closed {
    left: -270px;
  }

  .logo-container {
    width: fit-content;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      padding: 0;
      font-weight: normal;
      font-size: 0.85rem;
      color: gray;
      max-width: fit-content;
      text-align: right;

      figure {
        margin: 0;

        figcaption {
          font-size: 0.75rem;
        }
      }

      img {
        width: 11rem;
      }

      span {
        color: black;
        font-style: italic;
        font-weight: bolder;
      }
    }

    // close button
    .hamburger-close-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      margin-top: -2rem;
      outline: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .hamburger-icon {
        width: 2rem;
        height: 2rem;
        transition: color 100ms ease-in;

        &:hover {
          color: $yellow;
        }
      }

      &:hover .hamburger-icon {
        color: $yellow;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {}