/* Default styles for mobile devices and above */
.specification-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

  h2 {
    color: rgb(29, 29, 29);
    margin-bottom: 2rem;
  }

  .specifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .specification {
      display: flex;
      column-gap: 0.6rem;
      cursor: pointer;
      height: 3rem;
      min-height: 3rem;
      max-height: 3rem;


      .spec-icon-box {
        width: 3rem;
        height: 3rem;
        max-height: 3rem;
        border-radius: 0.4rem;
        border: solid 1px rgb(207, 207, 207);
        display: flex;
        justify-content: center;
        align-items: center;

        .spec-icon {
          width: 70%;
          height: 70%;
          object-fit: contain;
          fill: yellow;
        }
      }

      .spec-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;

        .spec-label {
          font-weight: 500;
          font-size: 0.7rem;
        }

        .spec-value {
          font-size: 0.8rem;
          color: rgb(77, 77, 77);
        }
      }
    }
  }
}


/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .specification-container {
    .specifications {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;


      .specification {
        .spec-details {

          .spec-label {
            font-weight: 500;
            font-size: 0.8rem;
          }


        }
      }

    }
  }
}



/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .specification-container {
    .specifications {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

    }
  }
}