@import '../../../scss/variables';

.brands_section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $gray_bg;

  h1 {
    margin: 1rem auto;
    font-weight: lighter;
    text-align: center;
    font-weight: bold;
  }
}
