@import './scss/variables';

/* Default styles for mobile devices and above */

/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}

// custom yellow underline for heading
.custom-heading {
  position: relative;
  margin-bottom: 1rem;

  &:after {
    content: '';
    position: absolute;
    bottom: -0.9rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(to right, $yellow 3rem, rgb(225, 225, 225) 3rem);
  }
}

.default-btn {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  color: black;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.yellow-gradient {
  background: $gradient;
}

.padding {
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  // Extra large screens (xl)
  @media (min-width: 1200px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  // Large screens (lg)
  @media (min-width: 992px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  // Medium screens (md)
  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // Small screens (sm)
  @media (min-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.wrapper {
  @extend .padding;
  padding-bottom: 2rem;
}